* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

/*& Styles Header */

.container_header {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./img/abstract-luxury-soft-red-background-christmas-valentines-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title {
    font-size: 6rem;
    color: white;
    text-shadow: 0 0 5px black;
    letter-spacing: 2px;
}

.subTitle {
    font-size: 2rem;
    color: #15A324;
    text-shadow: 0 0 5px black;
}

.header_btn {
    align-self: calc();
    text-decoration: none;
    font-size: 600;
    color: aliceblue;
    padding: 15px 60px;
    border: solid 1px;
    border-radius: 6px;
}

.header_btn:hover {
    background-color: #15A324;
    transition: 0.5s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(8px);
    padding: 15px;
    position: fixed;
    top: 0;

}

.nav_list {
    display: inline-flex;
    list-style: none;
}

.nav_list li a {
    text-decoration: none;
    padding: 10px;
    color: azure;
    text-transform: uppercase;

}

.logo {
    color: azure;
    margin-left: 40px;
    text-decoration: none;
    font-size: 2rem;
}


/*& Styles about */

.section_about {
    background-color: black;
    height: 700px;
}

.about_title {
    color: aliceblue;
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
}

.about {
    width: 100%;
    height: 400px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.about_text,
.education {
    width: 40%;
    height: 300px;
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education_list{
    list-style: none;
}
.tools {

    /* background-color: #15A324; */
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tools_title {
    color: aliceblue;
    font-size: 3rem;
    text-align: center;

}

.tools_icons {
    /* background-color:black; */
    width: 80%;
    height: auto;
    align-self: center;
    display: flex;
    justify-content: center;

}










/*& Styles Projects */

.projects {
    background-color: chartreuse;
    height: 800px;
}